{% extends 'base.html' %}

{% block title %}Make a Reservation - Hotel Way{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">Make a Reservation</h2>

    <form method="POST" action="{% url 'main:add_reservation' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Reservation</button>
    </form>
</div>
    
<script>
    document.getElementById("id_room_type").addEventListener("change", function() {
        var roomType = this.value;
        fetch("{% url 'main:get_available_rooms' %}?room_type=" + roomType)
            .then(response => response.json())
            .then(data => {
                var roomSelect = document.getElementById("id_room");
                roomSelect.innerHTML = "<option value=''>Select Room</option>";
                data.rooms.forEach(function(room) {
                    var option = document.createElement("option");
                    option.value = room.id;
                    option.text = room.room_number;
                    roomSelect.appendChild(option);
                });
            });
    });
</script>
{% endblock %}
