{% extends 'base.html' %}

{% block title %}Dashboard - Hotel Way{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Reception Dashboard</h2>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Reservations</h5>
                    <p class="card-text">{{ total_reservations }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Guests</h5>
                    <p class="card-text">{{ total_guests }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Rooms</h5>
                    <p class="card-text">{{ total_rooms }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Available Rooms</h5>
                    <p class="card-text">{{ available_rooms }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row 1  mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Occupancy Rate</h5>
                    <p class="card-text">{{ occupancy_rate|floatformat:2 }}%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest Reservations</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Guest Name</th>
                                <th>Room Number</th>
                                <th>Check-in Date</th>
                                <th>Check-out Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in latest_reservations %}
                            <tr>
                                <td>{{ reservation.guest.name }}</td>
                                <td>{{ reservation.room.room_number }}</td>
                                <td>{{ reservation.check_in_date }}</td>
                                <td>{{ reservation.check_out_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}